@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pokemon-Hollow";
  src: url("./src/assets/fonts/Pokemon-Hollow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pokemon-Solid";
  src: url("./src/assets/fonts/Pokemon-Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.texto-pokemon {
  color: #ffcb05; /* Amarelo */
  -webkit-text-stroke: 2px #2a75bb; /* Contorno azul */
  /* text-stroke: 2px #2a75bb; Para navegadores modernos */
  font-family: "Pokemon Solid", sans-serif; /* Se aplicável */
}

/* Classes para tirar seletores de números */
@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}
